@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  border: 1px solid;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item {
  border: 1px dotted;
  height: 250px;
  width: 160px;
  margin: 5px;
}
.oneTrue {
  background: yellow;
}
div#ass {
  border: solid 1px;
  height: 20px;
  text-align: left;
}
div#grade {
  height: 20px;
  border: solid 1px;
}
.oneFalse {
  background: gray;
}
.twoTrue {
  background-color: darkblue;
  color: white;
}
.twoTrue > h2 {
  color: white;
}
.item > .Why {
  height: 80px;
}
.twoFalse {
  background-color: gray;
}
.threeTrue {
  background-color: orange;
  color: white;
}
.threeTrue > h2 {
  color: white;
}
div > .rootap {
  height: 80px;
}
.threeFalse {
  background-color: gray;
}
.fourTrue {
  background-color: green;
  color: white;
}
.fourTrue > h2 {
  color: white;
}
.fourTrue > .rootap > h4 {
  color: white;
}
.fourTrue > label {
  color: white;
}
.fourFalse {
  background-color: gray;
}
hr {
  border: solid 0.5px;
  color: black;
}
